.button-section {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* margin-bottom: 20px; */
  margin-top: 30px;
  column-gap: 30px;
  height: 300px;
  width: 100%;
}
.btn-select-seat {
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid grey;
  color: black;
}

.footer {
  display: flex;
  position: absolute;
  column-gap: 37px;
  bottom: 25px;
  /* border: 1px solid red; */
  padding: 0 10px;
}
.btn-select {
  height: 40px;
  background-color: #605dec;
  color: white;
  border-color: white;
  border-radius: 10px;
  width: 255px;
}
.dropdown {
  width: 80px;
}
